extends layout

block content
  include partials/staticnav.jade
  div(class="container" id="container")
    form(class="form" id="filterForm" method="POST" action="/search")
      div(class="row")
        div(class="col-10")
          input(type="text" class="form-control" id="jobType" name="jobType" placeholder="Job Type")
        div(class="col-2")
          input(type="submit" class="btn btn-success" value="Find Gigs")
    hr
    br
    p
      span=totalItems
      span  Opportunities
    if gigs.length > 0
      each gig in gigs
        a(href="/singleGig/" + gig._id)
          h2= gig.title
          h3
            span= gig.creationDate.toDateString()
            span  - 
            span= gig.city
            span , 
            span= gig.stateLink
          p= gig.description.substring(0, 200)
            span ...
          p View Job
          br
      p
        span Page 
        span=currentPage
        span  of 
        span= totalPages
        span  Pages
      div(class="row")
        div(class="col")
          if hasPrevPage
            a(href="?page=" + (currentPage - 1))
              div(id="prevPage")
                img(id="nextImage" src="/images/icon-png/arrow-l-white.png", alt="next arrow icon", srcset="")
                span  
                span Page 
                span=prevPage
        div(class="col")
          if hasNextPage
            a(href="?page=" + currentPage)
              div(id="nextPage")
                span Page 
                span=nextPage
                span  
                img(id="nextImage" src="/images/icon-png/arrow-r-white.png", alt="next arrow icon", srcset="")
    else
      h2 Sorry No gigs available at this time