extends ../../layout

block content
  include ../../partials/staticnav.jade
  div(class="container" id="container")
    div(class="row")
      div(class="col-md-12")
        h2= gig.title
        div(class="row")
          div(class="col")
            p= gig.companyName
            p
              span= gig.creationDate.toDateString()
              span  
              span= gig.city
              span , 
              span= gig.stateLink
            p= gig.travelType
            a(href=gig.websiteLink target="_blank")
              button(class="btn btn-success") Apply On Company Website
            br
            br
            pre(id="description")= gig.description
            br
            p Compensation: 
              span= gig.compensation
            p Pay Frequency: 
              span= gig.payPeriod
        br
        a(href=gig.websiteLink target="_blank")
              button(class="btn btn-success") Apply On Company Website
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');