extends ../../layout

block content
  include ../../partials/staticnav.jade
  div(class="container" id="container")
    div(class="row")
      div(class="col-md-12")
        h2(id="gigTitle")= gig.title
        h3(id="gigDetails")
          span= gig.city
          span , 
          span= gig.stateLink
        div(class="row")
          div(class="col")
            h4(id="gigDetails")= gig.companyName
            if gig.compensation
              h5(id="gigPay") $
                span= gig.compensation
                span  
                span= gig.payPeriod
            h6
              i= gig.travelType
            if gig.educationalRequirements
              p
                span= gig.educationalRequirements
            a(href=gig.websiteLink target="_blank")
              button(class="btn btn-success") Apply On Company Website
            br
            br
            pre(id="description")= gig.description
        br
        a(href=gig.websiteLink target="_blank")
          button(class="btn btn-success") Apply On Company Website
        br
        div(class="row")
          div(class="col")
            p=gig.creationDate.toDateString()
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');