extends ../layout

block content
  include ../partials/userNav.jade
  div(class="container" id="container")
    h2(class="text-center") Applicants for 
        span=gig.title
    br
    each applicant in gig.applicants
        div(class="row")
            div(class="col-12")
                h4 Applicant Name: 
                    span=applicant.name
                h5 Applicant Email: 
                    span=applicant.email
                h6 Applicant Phone Number: 
                    span=applicant.contactNumber
                p Applicant Message: 
                    span=applicant.message
                br
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');