extends ../layout

block content
  include ../partials/userNav.jade
  div(class="container" id="container")
    h2(class="text-center")
        span Edit 
        span=gig.title
    br
    form(action=action="/users/editGig" method="POST" class="form")
      div(class="row")
        div(class="col-md-6")
        div(class="col-md-6")
      div(class="row")
        div(class="col-md-6")
          label(for="title") Title
          input(class="form-control" value=gig.title type="text" name="title" required)
        div(class="col-md-6")
          label(for="companyName") Company Name
          input(class="form-control" type="text" value=gig.companyName name="companyName")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="compensation") Compensation
          input(class="form-control" type="number" value=gig.compensation name="compensation")
        div(class="col-md-6")
          label(for="payPeriod") Pay Period
          input(class="form-control" type="string" value=gig.payPeriod name="payPeriod")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="websiteLink") Website
          input(class="form-control" type="string" value=gig.websiteLink name="websiteLink")
        div(class="col-md-6")
          label(for="facebookLink") Facebook Url
          input(class="form-control" type="string" value=gig.facebookLink name="facebookLink")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="twitterLink") Twitter Url
          input(class="form-control" type="string" value=gig.twitterLink name="twitterLink")
        div(class="col-md-6")
          label(for="instagramLink") Instagram Url
          input(class="form-control" type="string" value=gig.instagramLink name="instagramLink")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="address") Address
          input(class="form-control" type="string" value=gig.address name="address")
        div(class="col-md-6")
          label(for="city") City
          input(class="form-control" type="string" value=gig.city name="city")
      br
      div(class="row")
        div(class="col-md-6")
          include ./partials/statesOption.jade
        div(class="col-md-6")
          label(for="zipcode") Zip Code
          input(class="form-control" type="string" value=gig.zipcode name="zipcode")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="travelType") Travel Type
          select(class="form-control" name="travelType")
            option() Choose One
            option(value="Remote") Remote
            option(value="In Person") In Person
        div(class="col-md-6")
          label(for="category") Job Category
          input(class="form-control" type="string" value=gig.category name="category")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="contactNumber") Phone Number
          input(class="form-control" type="string" value=gig.contactNumber name="contactNumber")
        div(class="col-md-6")
          label(for="contactEmail") Email
          input(class="form-control" type="string" value=gig.contactEmail name="contactEmail")
      br
      div(class="row")
        div(class="col-md-6")
          label(for="gigJob") Job or Gig?
          select(class="form-control" name="gigJob")
            option() Choose One
            option(value="gig") Gig
            option(value="job") Job
        div(class="col-md-6")
          label(for="educationalRequirements") Educational Requirements
          select(class="form-control" name="educationalRequirements")
            option() Choose One
            option(value="No Requirements") No Requirements
            option(value="High School / GED") High School Diploma / GED
            option(value="Some College") Some College Credits
            option(value="Currently Attending") Currently In College
            option(value="Associates Degree") Associates Degree
            option(value="Bachelors Degree") Bachelor's degree
            option(value="Masters Degree") Masters Degree
            option(value="PHD Degree") PHD Dregree
      br
      div(class="row")
        div(class="col-md-12")
          label(for="description") Description
          textarea(class="form-control" value=gig.description name="description")
      br
      input(type="submit" class="btn btn-success" value="Edit Gig or Job")
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-FLEKPR06BM')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FLEKPR06BM');